/* body */
body{
  background-image: url("https://cdn.discordapp.com/attachments/294771564115656704/660384450663940097/6lJI3cd.jpg?width=932&height=548");
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
}


.tc{
  color: #ffd900;
}

.d{
  color: gray;
}





/* header */
.hlogo {
  font-family: "Franklin Gothic Medium";
  color: Blue;
  font-size: 2.5vw;
  margin: 0px;
  padding: 0.1vw 0vw 0vw 0.5vw;
  background-color: white;
  background: linear-gradient(to bottom, #224150d4, transparent);
}
.hbti{
  font-size: 1.5vw;
  color: #0095ffba;
  margin: 0vw;
  padding-left: 3vw;
}


.header{
  background-color: white;
  margin: 0px;
  padding: 0px,20px,0px,20px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.hlist{
  margin: 0px;
  border: thin solid black;
}

.hlist ul{
  margin: 0px;
  padding-left: 0px;
}

.hlist li{
  float: left;
  list-style: none;
  background-color: #627cd042;
  color: white;
  margin: 0px;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
}

.hlb{
  font-size: 1.3vw;
  padding-left: 5vw;
  padding-right: 4vw;
}

.hll{
  font-size: 1.3vw;
  padding-right: 4vw;
}

.hlh{
  font-size: 1.3vw;
  padding-right: 4vw;
}

.hld{
  font-size: 1.3vw;
  padding-right: 5.5vw;
}



/* main */
.main{
  background-color: #ffffffe6;
  margin: 7vw 10vw;
  padding: 3vw 8vw;
  border: 2px solid red;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

.ht{
  font-size: 3vw;
  font-family: "Lucida Grande";
  padding-top: 2vw;
  padding-left: 1vw;
  border-bottom:medium solid black;
  margin-bottom: 1vw;
}

.hd{
  font-family: YuMincho;
  border-left: thin solid #737373;
  border-right: thin solid #737373;
  padding: 1vw 5vw;
}

/* Chapter 1 */
.h1{
  border: solid thin #b5b5b5;
  padding: 0.5vw 1vw;
  margin-bottom: 2vw;
  background-color: #00ffff17;
}
.ht1{
  font-size: 1.5vw;
}
.ht2{
  font-size: 2vw;
  padding-left: 1vw;
  padding-bottom: 0.3vw;
}
.hdd{
  font-size: 1.3vw;
  padding-left: 3vw;
}
.hddd{
  font-size: 1.1vw;
  color: #4e4c58;
}

/* Chapter 2 */
.h2{
  border: solid thin #b5b5b5;
  padding: 0.5vw 1vw;
  margin-bottom: 2vw;
  background-color: #ff000017;
}

/* Chapter 3 */
.h3{
  border: solid thin #b5b5b5;
  padding: 0.5vw 1vw;
  margin-bottom: 2vw;
  background-color: #ce32cc17;
}

/* Chapter 4 */
.h4{
  border: solid thin #b5b5b5;
  padding: 0.5vw 1vw;
  margin-bottom: 2vw;
  background-color: #25e81417;
}

/* Chapter 5 */
.h5{
  border: solid thin #b5b5b5;
  padding: 0.5vw 1vw;
  margin-bottom: 2vw;
  background-color: #e8ff0017;
}
.ht21{
  font-size: 1.5vw;
}



/* footer */
footer{
  font-family: arial;
  font-size: 2.5vw;
  margin: 0px;
  padding: 0px;
  background-color: #0a0b0ce6;
  box-shadow: 0 0 10vw,0 0 2vw inset;
}

.footer{
  padding: 1vw 1vw;
}

.footer li{
  list-style: none;
  font-size: 1.3vw;
  padding-left: 2vw;
}

/* footer-Official Info */
.oi{
  color:white;
  font-size: 2vw;
  padding: 0.5vw 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  border: thin solid gray;
}
.oihf{
}
.oihm{
}
.oipi{
}

/* footer-Contact Us */
.fc{
  color:white;
  font-size: 2vw;
  padding: 0.5vw 1vw;
  border: thin solid gray;
}
.fcd{
}
.fcg{
}

/* footer-name */
.fn{
  font-size: 1.3vw;
  color: purple;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 85vw;
}
